body {
  font-size: 16px;
  color: #fff;
  background-color: #eaeaea;
  font-family: 'Oxygen', sans-serif;
}
#header-nav {
  background-color: #ff7d00;
  border-radius: 0;
  border: 0;
}
#logo-img{
  background: url('../images/infa.png') no-repeat;
  width: 50px;
  height: 50px;
  margin: 10px 15px 10px 0;
}
