body {
  font-size: 16px;
  color: #fff;
  background-color: #ff7d00;
  font-family: 'Roboto', sans-serif;
}
#header-nav {
  background-color: #eaeaea;
  border-radius: 0;
  border: 0;
}
#logo-img{
  background: url('../images/infa.png') no-repeat;
  width: 100px;
  height: 100px;
  margin: 10px 15px 10px 0;
}
.navbar-brand{
  padding-top: 20px;
}
