.browsehappy {
	margin: .2em 0;
	background: #ccc;
	color: #000;
	padding: .2em 0
}

body {
	padding-top: 50px
}

.footer, .header, .marketing {
	padding-left: 15px;
	padding-right: 15px
}

#view-container {
	min-height: 600px
}

.header {
	margin-bottom: 10px
}

.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5
}

.container-narrow>hr {
	margin: 30px 0
}

.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5
}
.navbar-inverse_custom
{
	    background-color:#CCCCCC;
	    border-color:#DDDDDD;
	
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px
}

@media screen and (min-width:768px) {
	.footer, .header, .marketing {
		padding-left: 0;
		padding-right: 0
	}
	.header {
		margin-bottom: 30px
	}
	.jumbotron {
		border-bottom: 0
	}
}

.c1 {
	max-height: 400px;
	overflow: hidden;
	position: relative
}

#c1 .c2 {
	position: relative
}

.c1 img {
	width: 100%
}

#carousel-container, #carousel-container .carousel-inner,
	#carousel-container .carousel-inner .item {
	max-height: 400px
}

#carousel-container h1, #carousel-container h2, #carousel-container h3,
	#carousel-container h4, #carousel-container h5 {
	color: #fff;
	font-weight: 700
}

.vertical-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-25%);
	transform: translateY(-25%)
}

div.logo {
	position: relative;
	height: 40px
}

div.logo img {
	height: 100%;
	width: auto
}

div.logo h3 {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	line-height: 0
}

.marketing {
	margin-top: 40px
}

.marketing p+h4 {
	margin-top: 28px
}

.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center
}

.marketing h2 {
	font-weight: 400
}

.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px
}

.navbar-inverse .navbar-nav  li  a 
{
	color:#FFFFFF;
	
}
 