<ng-form name="form">
  <div class="form-group">
    <label for="inputPhoneNumber" class="col-sm-3 control-label">Phone Number</label>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inputPhoneNumber" placeholder="" ng-model="phone.phoneNumber" ng-blur="cleansePhone()">
        </div>
        <div class="col-sm-4">
          <select class="form-control" id="inputPhoneType" ng-model="phone.phoneType">
            <option>Mobile</option>
            <option>Home</option>
            <option>Work</option>
          </select>
        </div>
        <div class="col-sm-4" ng-show="phone.validationStatus">
          <div class="alert" ng-class="phone.validationStyle" role="alert" style="padding-top:8px; padding-bottom:8px; margin-bottom:0;">{{phone.validationStatusDescription}}</div>
        </div>
        <!--<button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span></button>
              <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span></button>-->
      </div>
    </div>
  </div>
  <!--<div class="form-group">
        <div class="col-sm-offset-3 col-sm-3">
          <button type="button" ng-click="cleansePhones()" class="btn btn-default">Validate Phone</button>
        </div>
      </div>-->
</ng-form>
